*, *::before, *::after {
    box-sizing: border-box;
}

 body {
    margin: 0;
    background-color: #303030;
 }

 .main-div {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   margin: 0;
 }

 .calculator-grid {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);    
 }

 .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(34, 32, 32);

 }
 
 
 .normal:hover{
    background-color: #444343;
 }

 .calculator-grid > button:focus {
    background-color: #444343;
 }

 .span-two {
    grid-column: span 2;
 }
 
 .output {
    grid-column: 1 / -1;
    background-color: #606060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
 }
 .operator {
    background-color: #E49B0F;
    border: black 10px;
 }
 .operator:hover {
    background-color: gold
 }

 .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
 }
 .output .current-operand {
    color: white;
    font-size: 2.5rem;
 }